.start
{
    left: 10%;
    position: absolute;
}

.first
{
    left: 20%;
    position: absolute;
}

.second
{
    left: 30%;
    position:absolute;
}

.search
{
    left:40%;
    position: absolute;
}


.third
{
    left: 75%;
    position: absolute;
}
.logout
{
    left: 90%;
    position: absolute;
}

#navbar
{
    height:40px;
}

#message
{
    color: red;
}

#message1
{
    color: red;
}